<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">

  <link
    name="tools1">
    
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.0243E-6" />
      <inertia
        ixx="0.031947E-6"
        ixy="-6.6313E-24"
        ixz="-2.4676E-24"
        iyy="0.023762E-6"
        iyz="-7.8627E-24"
        izz="0.052372E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.5"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find kinova_description)/objects/tools/first.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="$(find kinova_description)/objects//textures/blue.jpg" />
      </material>
    </visual>
    <!--collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="$(find kinova_description)/objects/tools/first.dae" />
      </geometry>
    </collision>-->
  </link>

  <joint
    name="joint_tools1"
    type="fixed">
    <origin
      xyz="0 0 0.5"
      rpy="0 0 0" />
    <parent
      link="j2s7s300_link_7" />
    <child
      link="tools1" />
    <axis
      xyz="0 0 0" />
  </joint>

</robot>
